body {
    background-image: url(../imgs/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.tw {
    color: white;
}

.mt-mgk {
    margin-top: 5%;
}